doctype html
html(lang="en")
    head
        meta(charset="UTF-8") 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
        link( href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
            rel="stylesheet")
        title #{title}

    body 
        include _header

        main 
         block content
          h1 this is index content

        include _footer